pkgbase = snd-zg01-dkms-git
	pkgdesc = Experimental Yamaha ZG01 USB audio driver (DKMS, git)
	pkgver = r100.e9ebf56
	pkgrel = 1
	url = https://github.com/softashell/snd-zg01
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	depends = dkms
	depends = alsa-ucm-conf
	provides = snd-zg01-dkms
	conflicts = snd-zg01-dkms
	source = snd-zg01::git+https://github.com/softashell/snd-zg01.git#branch=slop
	sha256sums = SKIP

pkgname = snd-zg01-dkms-git
